body {
    font-family: 'Quicksand';
    text-align: center;color:white;
        text-shadow: 0px 0px 10px #000;   font-size: 20px;
    background: no-repeat url("https://i.imgur.com/Mhw4VPH.jpg");
}

p#results {  color:white;
        text-shadow: 0px 0px 10px #000;    font-family:'Quicksand';   font-size: 20px;}
#results p {  color:white;
        text-shadow: 0px 0px 10px #000;    font-family:'Quicksand';   font-size: 20px;}

#results {  color:white;
        text-shadow: 0px 0px 10px #000;    font-family:'Quicksand';   font-size: 20px;}

#dealer-cards img {
    height: 350px;text-shadow: 2px 2px #fff;
    width: 250px;
    margin: 2px;
}

#your-cards img {
    height: 350px;
    width: 250px;
    margin: 2px;
}

#hit {
     font-family:'Quicksand';
    width: 100px;
    height: 50px;
    border-radius: 15px;
       text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
    font-size: 20px;
    border:1px solid #fff;
    color:#fff; transition: 2s;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);-webkit-backdrop-filter:blur(5px);
}

#stay {
     font-family:'Quicksand';
    width: 100px;
    height: 50px; transition: 2s;
        color:#fff;
       text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
    font-size: 20px; border-radius: 15px;
    border:1px solid #fff;
    backdrop-filter: blur(5px);
     background:rgba(0,0,0,0.5);-webkit-backdrop-filter:blur(5px);
}

#deal {
    font-family:'Quicksand';
    width: 100px;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
    height: 50px;
        color:#fff;
    font-size: 20px; transition: 2s;
    border-radius: 15px;
    border:1px solid #fff;
     background:rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
}

#hit:hover {
    font-family:'Quicksand';
    width: 100px;
    height: 50px;
    border-radius: 15px; transition: 2s;
     border:1px solid #fff;-webkit-backdrop-filter:blur(5px);
     text-shadow: 0px 0px 10px #fff;
    backdrop-filter: blur(5px);
    font-size: 20px;
    background:black;
    border:0px solid #000;
    box-shadow: 0 5px 20px 0px #ffe3ff;
}

#stay:hover {
    font-family:'Quicksand';
    width: 100px; transition: 2s;
    backdrop-filter: blur(5px);
    background:black;-webkit-backdrop-filter:blur(5px);
     border:1px solid #fff;
    height: 50px;
       text-shadow: 0px 0px 10px #fff;
    font-size: 20px; border-radius: 15px;
    border:1px solid #fff;
    background:black;
    color:white;
    box-shadow: 0 5px 20px 0px #ffe3ff;
}

#deal:hover {
    font-family:'Quicksand';
    width: 100px; transition: 2s;
       text-shadow: 0px 0px 10px #fff;
    height: 50px;
    background:black;-webkit-backdrop-filter:blur(5px);
     border:1px solid #fff;
    backdrop-filter: blur(5px);
    font-size: 20px;
    background:black;
    border-radius: 15px;
    border:1px solid #fff;
    box-shadow: 0 5px 20px 0px #ffe3ff;
}
