body {
    font-family: 'Quicksand';,
    text-align: center;
    background: no-repeat url("https://i.imgur.com/mNuBIiy.png");
}

#dealer-cards img {
    height: 350px;
    width: 250px;
    margin: 2px;
}

#your-cards img {
    height: 350px;
    width: 250px;
    margin: 2px;
}

#hit {
     font-family:'Quicksand';
    width: 100px;
    height: 50px;
    font-size: 20px;
    border:0px solid #000;
}

#stay {
     font-family:'Quicksand';
    width: 100px;
    height: 50px;
    font-size: 20px;
    border:0px solid #000;
}

#deal {
    font-family:'Quicksand';
    width: 100px;
    height: 50px;
    font-size: 20px;
    border:0px solid #000;
}
